{{#each pessoas}}
<section>


    <div id="list" class="container">
        <p>Nome: {{nome}}</p>
        <p>Email: {{email}}</p>
        <p>Filme: {{filme}}</p>
        <p>Comentário: {{comentario}}</p>
        <br />
        <a href="delete/{{email}}"><button class="teste teste1">Deletar</button></a>
        <br />
        <a href="/edit/{{email}}"><button class="teste teste1">Editar</button></a>
   </div>
</section>
{{/each}}