{{#each pessoas}}
    <div id="list" class="list">
        <p>Nome: {{nome}}</p>
        <p>Email: {{email}}</p>
        <p>Filme: {{filme}}</p>
        <p>Comentário: {{comentario}}</p>
        <a href="delete/{{email}}"><button>Deletar</button></a>
        <a href="/edit/{{email}}"><button>Editar</button></a>
   </div>
{{/each}}